.App {
  text-align: center;
}

body {
  background-color: purple;
}

header > h1 {
  color: white;
}

* {
  color: purple;
  font-size: 1.5rem;
  font-family: Palatino;
}

main {
  background-color: white;
  border-color: purple;
  border-radius: 2vmin;
  border-width: 1vmin;
  border-bottom-width: 2vmin;
  border-right-width: 2vmin;
  max-width: 50rem;
  margin: auto;
  padding: 1vmin;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
  border-radius: 1vmin;
  padding: 1vmin;
  margin: 1vmin;
  background-color: #80008011; /* purple */
  text-align: center;
}

section.cats > ul > li:before {
  content: '🐱';
  padding-right: 1vmin;
}

input:focus {
  outline: 0.3vmin solid purple
}

input {
  padding: 1vmin;
}

canvas {
  max-width: 25rem;
  margin: auto;
}